# {{ ansible_managed }}

{% if item.value.authorized is defined and item.value.authorized|length > 0 -%}
{% for key in item.value.authorized -%}
{{ key }}
{% endfor -%}
{% endif -%}

{% if ssh_root_authorized_all -%}
# Root keys are allowed on all accounts
{% for key in ssh_root_authorized -%} 
{{ key }}
{% endfor -%}
{% endif -%}
